.header-form {
    background-color: lavender;
    padding-left: 32px;
}


.input-type {
    padding: 10px;
    margin: 8px
}

.btn {
    background-color: green;
    padding: 10px;
}

.input-btn {
    padding: 10px;
    margin: 8px;
}

.input-btn2 {
    padding: 10px;
}